button {
  cursor: pointer;
  color: white;
  background-color: var(--green-4);
  width: 130px;
  transition: all ease 350ms;
  &:hover {
    opacity: 0.9;
  }
}
body {
  background-color: var(--green-2);
}
:root {
  --green-1: #deffe6;
  --green-2: #c8f6d2;
  --green-3: #75a17f;
  --green-4: #4b9b5c;
  --green-5: #326c3f;

  --red-1: #c04c3c;

  --blue-1: #b7deff;
  --blue-2: #8eccff;
  --blue-3: #529ad4;
  --blue-4: #002fcaaf;
  --blue-4: #001f83af;
}
.container {
  width: auto;
  margin: auto;
  max-width: 1550px;
}
.menu {
  width: 580px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.option-content {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-options {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#option-insert,
#option-alter,
#option-delete {
  color: white;
  background-color: var(--green-3);
  padding: 15px 65px;
  border-radius: 10px;
  margin: auto 5px;
  cursor: pointer;
  transition: all ease 350ms;
  &:hover {
    background-color: var(--green-4);
  }
}

.option-alter,
.option-insert,
.option-delete {
  width: auto;
  height: 180px;
  background-color: var(--green-1);
  border-radius: 20px;
  padding: 20px;
  color: var(--green-5);
}
.edit-top {
  display: flex;
}
.option-alter {
  display: none;
}
.option-delete {
  display: none;
}
.option-delete button {
  color: var(--red-1);
  background-color: var(--green-2);
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: bold;
  &:hover {
    background-color: var(--red-1);
    color: white;
    box-shadow: 0px 1px 5px rgb(170, 168, 168);
  }
}

.option-title {
  font-size: 22px;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 15px;
}
.option-inputs input {
  background-color: var(--green-2);
  width: 130px;
  padding: 10px 12px;
  text-align: center;
  border: none;
  border-radius: 20px;
  outline: none;
  color: var(--green-5);
  &::placeholder {
    text-align: center;
    color: var(--green-5);
  }
}
.input-top,
.input-bottom {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.option-inputs button {
  display: block;
  color: white;
  background-color: var(--green-4);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin: auto;
  font-weight: bold;
}
.classification .text {
  margin-bottom: 15px;
}
.classification {
  margin-top: 15px;
  color: var(--green-5);
  padding: 20px;
  background-color: var(--green-1);
  border-radius: 20px;
  min-height: 150px;
}
.classification button {
  display: block;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: auto;
  font-weight: bold;
}

option {
  background-color: var(--green-5);
  color: white;
  padding: 10px;
  text-align: center;
}

.division {
  display: flex;
  align-items: center;
}

strong {
  color: var(--red-1);
}
.division .choose-delete {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  height: 100px;
}

/*selecct*/

.custom-select {
  min-width: 130px;
  position: relative;
  display: inline-block;
}

.select-items {
  position: absolute;

  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  display: none;
  color: white;
}

.select-item {
  text-align: center;
  background-color: var(--green-5);
  padding: 8px 16px;
  cursor: pointer;
  border-bottom: 2px solid white;
  &:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  &:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  &:hover {
    background-color: var(--green-4);
  }
}
.select-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  /* adicione outros estilos conforme necessário */
}

.select-selected {
  text-align: center;
  font-weight: bold;
  background-color: var(--green-2);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

#blocks {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.blocks-item {
  width: 80px;
  height: 90px;
  background: var(--green-2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.15);
}
.box-name,
.box-value {
  font-weight: bolder;
}
.box-name {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--green-5);
  width: inherit;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: auto;
}

.box-value {
  color: var(--green-5);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
